
  <a class="title2" href="/">?means¿</a>
  <% if(locals.isLoggedIn) {%>
    <a href="/delete">delete account</a>
    <% } %>
  <div class="instagram">
    <a href="https://www.instagram.com/pd.service_?igsh=MTAyazY5cmRrbzV0eg%3D%3D&utm_source=qr"><i class="fa-brands fa-square-instagram"></i></a>
    <script src="https://kit.fontawesome.com/4890d43ba4.js" crossorigin="anonymous"></script>
  </div>
  