<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>means</title>
  <link rel="stylesheet" type="text/css" href="/public/css/home.css">
</head>
<body>
<div class="container">
  <header class="common">
    <%- include('header'); %>
  </header>
  <div class="top-wrapper">
    <h2>Purpose: To archive information</h2>
  </div>
  
  <!-- 背景の画像切り替え -->
  <footer class="common">
    <%- include('footer'); %>
  </footer>
</div>

<script>
const images = [
  '/public/images/1710257899068--acgsherpafleece.jpg',
  '/public/images/acgshoes.jpg'
];

let currentIndex = 0;
const topWrapper = document.querySelector('.top-wrapper');

function switchBackgroundImage() {
  currentIndex = (currentIndex + 1) % images.length;
  topWrapper.style.backgroundImage = `url('${images[currentIndex]}')`;
}

topWrapper.style.backgroundImage = `url('${images[currentIndex]}')`;

setInterval(switchBackgroundImage, 8000);

</script>
</body>
</html>