<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>means</title>
  <link rel="stylesheet" type="text/css" href="/public/css/home.css">
</head>
<body>
<header class="common">
  <%- include('header'); %>
</header>
<main>
  <div class="account-container">
    <h2>Log in and use ?means¿ as a better place to share information.</h2>
    <div class="login-panel">
      <h3>login</h3>
      <% if (errors.length > 0) { %>
        <ul class="errors">
          <% errors.forEach(error => { %>
            <li><%= error %></li>
          <% }); %>
        </ul>
      <% } %>
      <form action="/login" method="post">
        <p>e-mail</p>
        <input type="text" name="email">
        <p>password</p>
        <input type="password" name="password">
        <input type="submit" value="login">
      </form>
    </div>
  </div>
</main>

<footer class="common">
  <%- include('footer'); %>
</footer>
</body>
</html>
